.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.submitButton {
  margin-top: 14rem;
}

.logo {
  margin-top: 50%;
  height: 90px;
}

.hidden {
  display: none;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
